.buttons{
  float: left;
  margin-right: 25px;
}
.button{
  padding: 20px;
  font-size: 35px;
  width: 250px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0px 0px 10px #000000;

}
.one{
  background-color: #EBEBEB;
  color: grey;
  border-color: grey;
}
.two{
  background-color: ;
  background: -webkit-linear-gradient(#00B4E4, blue);
  color: white;
  border-color: blue;
}
.three{
  background-color: #7CB600;
  background: -webkit-linear-gradient( #7CB600, green);
  color: white;
  border-color: green;
}
.one:hover{
 background-color: red;
 -webkit-transition: all 1s ease;
}
.two:hover{
  -webkit-transition: all .5s ease;
  -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
.three:hover{
width: 250%;
-webkit-transition: all 5s ease;
}
