
#hamiltonimg01{
font-size:12px ;
background-color: #EFEFFB;
padding-left: 12px;
padding-right: 12px;
border-style: solid;
border-color: grey;
width:250px;
height: 600px;
}
h4{
  text-align: center;
  font-size: 12px;
}
#hamilton01{
  margin: 0px 10px 0px;
}
td{
  width:120px;
}
td:nth-child(odd){
  font-weight: bold;
}
